@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
  font-size: 12pt;
}



.chatroom {
  /* the entire thing */
  background-color:  rgb(181, 178, 178);
  border: 2px solid black;
  border-radius: 5%;
  padding: 1%;
  position: absolute;
  bottom: 0;
  left:15%;
  z-index: 50;
  min-width: 20vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  text-align: center;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto', sans-serif;


}
.chatroomTopRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border: 3px solid black;
 
  
  
}



.closeButton{
  height:30px;
  align-self: center;
  width: 30px;
  margin-top: 10px;
}

.closeButton:hover{
  cursor:pointer;
  height: 35px;
}

.chatroom_title {

  font-size: 0.8em;
  align-self: left;
}

.chatroomMain{
  
  /* this is the container for the sidebar and the messages */
  width: 100%;
  justify-content: flex-start;
  max-height: 100%;
  
}
#chat_avatar{
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

/* This is the UL */
#chatroom_members {  
  list-style: none;
  
  
 
}

/* the LI */
.chatMembers{
  display: flex;
  flex-direction: column;
  margin: 10px;

}

.chatroom_sidebar{
  width: 100%;
  display:  flex;
  flex-direction: row;
  
  
}

.chatMembers_sidebar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}


#chatroom_members{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.chatroom_sidebar h4{
  font-size: 0.4rem;
}

.chatMembers_sidebar {
  font-size: 0.5em;
}

#chat_message{
    
    max-width: 20vw ;
    display: flex;
    margin: 2vh;
    border-radius: 10px;
    padding: 20px;
   

}


.user_message {
    background-color: rgb(165, 213, 233);
    box-shadow: 2px 4px #fff;
    
}

.other_message {

    background-color: #fff;
    box-shadow: 2px 4px rgb(165, 213, 233);
   

}

#chat_input{
    border: 2px solid rgba(135, 133, 133, 0.8);
    background-color: rgba(135, 133, 133, 0.6);
    border-radius: 25px;
    max-width: 95%;
    max-height: 10vh;
    padding: 5px;
    
  }

  #chat_input::placholder{
    font-size: 0.4rem;
  }
  
  #chat_input:focus{
    border: none;
    background-color: #fff
  }

  #chat_button {
    position: relative;
    background-size: cover;
    background-image: url('../../public/pictures/arrow.png');
    left: 75%;
    z-index: 75;
    top: -35px;
    margin-left: 2%;
    margin-bottom: 5%;
    background-color: rgba(135, 133, 133, 0.1);
    opacity: 40%;
    padding: 1%;
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    
  }

  #chat_button:hover{
    opacity: 100%;
  }
  
.chatroomFeed_container{
  background-color:  rgb(181, 178, 178);
}

/* Show or hide the chat */

#visible{
  visibility:visible;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    position: absolute;
    left: 0;
   
    
  }

  to {
    position: absolute;
    left: 15%;
    
  }
}

#hidden{
  visibility:hidden;
}


